@mixin flex($justify-content, $align-items, $direction: row) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify-content;
    align-items: $align-items;
    direction: $direction;
}

@mixin tablet-and-small-laptop {
    @media(min-width: 768px) and (max-width: 1200px) {
        @content;
    }
}

@mixin tablet {
    @media(min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}

@mixin mobile-and-tablet {
    @media(max-width: 1023px) {
        @content;
    }
}

@mixin mobile {
    @media(max-width: 767px) {
        @content;
    }
}
